/*Variables:para las variables en sass usamos el signo ($)*/
  $white: #fff;
  $black: #000;
  $gray: #f6f6f6;
  $gray-light: #fdfdfd;
  $gray-dark: #1e1e1e;
  $green-white: #e5efe5;
  $green-light: #bbfebf;
  $green-dark: #041d17;
  $pink-light: #fbf4ff;
  $pink: #d094f9;
  $violet: #581c7d;

/*Breackpoints*/
$mediaMobile-320: 320px;
$mediaMobile-480: 480px;
$mediaTablet-640: 640px;
$mediaDesktop-768: 768px;
$mediaDesktop-1024: 1024px;
$mediaDesktop-1280: 1280px;